@page
@using RazorHotelDB25Kristian.Models
@using RazorHotelDB25Kristian.Helpers
@model RazorHotelDB25Kristian.Pages.Hotels.GetAllHotelsModel
@{
    ViewData["Title"] = "GetAllHotels";
}

<h5>Number of hotels is: @Model.Hotels.Count</h5>
<h4>List of hotels</h4>



<btn>
    <a asp-page="CreateHotel">Add a new hotel</a>
</btn>

<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Navn</th>
            <th>Adresse</th>
            <th>Hash?</th>
        </tr>
    </thead>

    <tbody>
        @if(Model.Hotels.Count() != 0)
        {
            foreach(Hotel ht in Model.Hotels)
            {
                <tr>
                <td>@ht.HotelNr</td>
                <td>@ht.Navn</td>
                <td>@ht.Adresse</td>
                <td>@await SimpleHash.CreateHashStringAsync(ht.Navn)</td>
                <td>
                    @* <form asp-page-handler="Delete" asp-route-DeleteNo="@ht.HotelNr">
                        <button type="submit">
                            Delete the thing!
                        </button>
                    </form> *@
                    <form asp-page-handler="Delete" asp-route-DeleteNo="@ht.HotelNr">
                            <input type="image" src="~/Images/trash3.svg" onclick="return confirm('Are you sure you want to delete hotel nr: @ht.HotelNr, &quot;@ht.Navn&quot;');">
                    </form>

                </td>
                <td>
                        <a asp-page="/Rooms/ViewAllRooms" asp-page-handler="WHotel" asp-route-HotelNo="@ht.HotelNr" class="btn btn-primary">Rooms!</a>
                </td>
                </tr>
            }
        }
    </tbody>
</table>